body,
input,
button {
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0px auto;
}

h4 {
    margin: 1em auto 0px auto;
    font-weight: 600;
}


.container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 0px 1em 0px 1em;
}

img {
    width: 100%;
    object-fit: contain;
    margin: 0px auto;
}


iframe {
    border-radius: 20px;
    min-height: 800px;
}

#hok {
    border: 2px solid #f25e23;
}

#msa {
    border: 2px solid #419ff2;
}

video {
    height: 100%;
    width: 100%;
}

@media (max-width: 1025px) {
    .container {
        max-width: 1025px;
    }
}

/* surface-pro 7*/
@media (max-width: 912px) {

    .container {
        max-width: 912px;
    }

}


/* i-pad air */
@media (max-width: 820px) {
    .container {
        max-width: 820px;
    }

}

/* i-pad mini */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

}


/* surface-Duo */
@media (max-width: 550px) {

    .container {
        max-width: 550px;
    }

    body {
        font-size: 0.9rem;
    }

    .container p {
        margin-bottom: 2em;
    }

}

/* All mobile screens */
@media (max-width: 450px) {

    .container {
        max-width: 450x;
    }
}

/* Galaxy Fold */
@media (max-width: 360px) {

    .container {
        max-width: 360x;
    }
}