body,
input,
button {
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0px auto;
}

h4 {
    font-weight: 600;
}


.container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

#chart {
    max-width: 800px;
    object-fit: contain;
    margin: 0px auto;
}


iframe {
    border-radius: 20px;
    min-height: 800px;
}

#hok {
    border: 2px solid #f25e23;
}

#msa {
    border: 2px solid #419ff2;
}