
body, input, button{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px auto;
    text-align: center;
}

p{
    text-align: left;
    line-height: 1.5em;
}

span{
    font-weight: 600;
}

a{  
    color: #ee233c;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    text-decoration: none;
}


/* container width */
.nav-container,
.nav-bar,
header,
.container{
    max-width: 800px;
}



/* navbar */
.nav-container{
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.nav-bar{
    margin: 0px auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.nav-link{
    padding: 0px 10px;
}


/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0px auto;
    padding: 0 1em;
}

.profile-img{
    max-width: 200px;
    border-radius: 100%;
}
.title{
    width: 400px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.intro-text{
    text-align: left;
}

/* sections */
section{
    min-height: 100vh;
}

.container{
    margin: 0px auto;
    padding: 2em 1em;
    border: 1px dotted orange;
    display: flex;
    justify-content: center;
}

/* story */
.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* All mobile screens */
@media (max-width: 450px){

    header{
        flex-direction: column;
    }

    .title{
        max-width: 100%;
        margin: 0px auto;
        padding-left: 0px;
        align-items: center;
    }

    .container{
        max-width: 360px;
    }

}
    
/* Galaxy Fold */
@media (max-width: 359px){

    .container{
        max-width: 280px;
        padding: 5em 1em;
    }

    .profile-img{
        width: 60%;
    }

    .nav-bar{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-link{
        margin: 0.5em 0px;
    }
}