
body, input, button{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
    text-align: center;
}
p{
    text-align: left;
    line-height: 1.5em;
}

span{
    font-weight: 600;
}

a{  
    color: #ee233c;
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    text-decoration: none;
}


/* navbar */
.nav-bar{
    margin: 0px auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
}
.nav-link{
    padding: 0px 10px;
}


/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border: 2px solid red;
    
}

.profile-img{
    max-width: 200px;
    border-radius: 100%;
}
.title{
    width: 400px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid blue;
}
.intro-text{
    text-align: left;
}

/* sections */
section{
    min-height: 100vh;
}

.container{
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 1em;
    border: 1px dotted orange;
    display: flex;
    justify-content: center;
}




/* story */
.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 450px) and (min-width: 360px){

    header{
        flex-direction: column;
        margin: 0px auto;
    }

    .title{
        max-width: 100%;
        margin: 0px auto;
        padding-left: 0px;
        align-items: center;
    }

    .container{
        max-width: 360px;
    }

}
    

@media (max-width: 359px){
    header{
        flex-direction: column;
        padding: 5em 0;
    }

    .title{
        max-width: 100%;
        margin: 0px auto;
        padding-left: 0px;
        align-items: center;
    }

    .container{
        max-width: 280px;
    }

    .profile-img{
        margin-top: 3em;
    }

    .nav-bar{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-link{
        margin: 0.5em 0px;
    }
}