.about {
    background-color: white;
    flex: 1;
    width: 100%;
    display: flex;
}

.about img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.about h2 {
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 2rem;
}

.story {
    width: 80%;
}

.about p {
    margin-top: 1em;
}

.about p:first-of-type {
    margin-top: 0;
}

span {
    display: inline;
    padding: 0 0.3em;
}

/* All mobile screens */
@media only screen and (max-width: 600px) {

    /* Make the second children (image) show above the first children (text) */
    .about {
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
    }

    .about img {
        order: 1;
    }

    .about .story {
        order: 2;
    }
}