<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  
  <!-- Get the specific CSS files -->
  {{ $global := resources.Get "css/global.css" }}
  {{ $header := resources.Get "css/header.css" }}
  {{ $footer := resources.Get "css/footer.css" }}
  {{ $post := resources.Get "css/post.css" }}
  {{ $home := resources.Get "css/home.css" }}
  {{ $work := resources.Get "css/blog.css" }}

  <!-- Combine all CSS files into one, then minify and fingerprint for production -->
  {{ $bundled := slice $global $header $footer $post $home $work | resources.Concat "css/bundle.css" | minify | fingerprint }}
  
  <!-- Link the bundled CSS file -->
  <link rel="stylesheet" href="{{ $bundled.RelPermalink }}" integrity="{{ $bundled.Data.Integrity }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>
</html>
