.blog {
    background-color: white;
    flex: 1;
    width: 100%;
}

.blog-card {
    margin-bottom: 1.5em;
}

.blog-card .date {
    color: var(--gray-text-color);
}

.blog-card .title {
    color: var(--indian-saffron-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.blog-card .summary {
    color: var(--gray-text-color);
    font-style: italic;
}

/* All mobile screens */
@media only screen and (max-width: 600px) {
    .blog {
        padding-top: 1em;
    }
}