.heading-anchor {
    text-decoration: none;
    margin-right: 0.3em;
    transition: opacity 0.2s;
}

h1:hover .heading-anchor,
h2:hover .heading-anchor,
h3:hover .heading-anchor,
h4:hover .heading-anchor {
    opacity: 1;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}