:root {
    --font-family: "EB Garamond", "Helvetica Neue", "Segoe UI", sans-serif;
    --background-color: #f6f6f6;
    --indian-saffron: rgb(255, 104, 26);
    --indian-blue: rgb(1, 0, 142);
    --indian-green: rgb(0, 106, 53);
    --gray-text-color: #666;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: var(--font-family);
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container {
    max-width: 1300px;
    padding-right: 120px;
    padding-left: 120px;
    margin: 0 auto;
}

a {
    color: var(--indian-saffron);
}

/* All mobile screens */
@media only screen and (max-width: 600px) {

    body,
    input {
        font-size: 1rem;
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
        max-width: 100%;
    }
}