.home {
    background-color: white;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.position {
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 2rem;
    font-style: italic;
}

.story {
    display: flex;
}

.intro {
    width: 80%;
}

.recent-posts h2 {
    font-weight: 400;
    margin-bottom: 1em;
}

.home p {
    margin-top: 1em;
}

.home p:first-of-type,
.home .summary {
    margin-top: 0;
}

span {
    display: inline;
    padding: 0 0.3em;
}

/* All mobile screens */
@media only screen and (max-width: 600px) {

    .home .recent-posts {
        order: 2;
    }

    .home .story {
        order: 1;
    }

    .story {
        flex-direction: column;
        align-items: center;
    }

    .story .intro {
        order: 2;
        align-items: flex-start;
        width: 100%;
    }

    .story img {
        order: 1;
        width: 150px;
        height: 150px;
        margin-top: 1em;
    }
}