.posts {
    background-color: white;
    flex: 1;
    width: 100%;
}

.post-card {
    margin-bottom: 1.5em;
}

.post-card .date {
    color: var(--gray-text-color);
}

.post-card .title {
    color: var(--indian-saffron);
    font-size: 1.6rem;
    font-weight: 600;
}

.post-card .summary {
    color: var(--gray-text-color);
    font-style: italic;
}

/* All mobile screens */
@media only screen and (max-width: 600px) {
    .posts {
        padding-top: 1em;
    }
}