.blog figure {
    text-align: center;
    margin: 0 auto;
}

.blog img {
    max-width: 70%;
    object-fit: contain;
    margin: 1em 0;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-bottom: 1em;
}