header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
}

.name {
    font-family: "Poppins", sans-serif;
    display: flex;
}

.name-letter {
    font-weight: 400;
}

.indian-saffron {
    color: var(--indian-saffron-color);
}

.indian-blue {
    color: var(--indian-blue-color);
}

.indian-green {
    color: var(--indian-green-color);
}

nav a {
    margin-right: 1.8em;
    text-decoration: none;
    font-weight: 400;
}