header {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
    align-items: center;
}

.name {
    font-family: "Poppins", sans-serif;
    display: flex;
    text-decoration: none;
}

.name-letter {
    font-weight: 400;
}

.indian-saffron {
    color: var(--indian-saffron-color);
}

.indian-blue {
    color: var(--indian-blue-color);
}

.indian-green {
    color: var(--indian-green-color);
}

nav a {
    margin-right: 1.8em;
    text-decoration: none;
    font-weight: 400;
}

/* All mobile screens */
@media only screen and (max-width: 600px) {

    header {
        flex-direction: column;
        padding: 0 0 1em 0;
        border-bottom: 1px solid #eee;
    }

    .name-letter {
        margin-top: 1em;
    }

    nav a {
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    nav a {
        font-weight: 500;
        font-size: 1.2rem;
    }
}