.post {
    background-color: white;
    padding-top: 0;
    padding-bottom: 90px;
}

.post figure {
    text-align: center;
    margin: 0 auto;
}

.post img {
    max-width: 70%;
    object-fit: contain;
    margin: 1em 0;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-bottom: 1em;
}