.post {
    background-color: white;
    padding-top: 0;
    padding-bottom: 90px;
}

.post figure {
    text-align: center;
    margin: 0 auto;
}

.post img {
    max-width: 70%;
    object-fit: contain;
    margin: 1em 0;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-bottom: 1em;
}

pre {
    background-color: #f4f4f4;
    padding: 1em;
    overflow-x: auto;
    border-radius: 15px;
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
}

.post h1:first-of-type {
    margin-top: 0;
}

ul,
ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

blockquote {
    background: #f6f6f6;
    font-style: italic;
    border-left: 5px solid;
    border-color: #000;
    padding: 10px 15px;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}