{{ define "main" }}
  <main class="container home">
    <div class="story">
      <div class="intro">

          <h2 class="position">Software Engineer</h2>

          <p>In the past, I have been a design technologist,
              a senior sustainability engineer, a senior architect,
              a project manager, and a team leader.
          </p>

          <p>This site is currently a work in progress and I plan to
              fully build this over the next year.
          </p>
      </div>
      <img src="/images/me.png" alt="Devang Chauhan" />
    </div>
    
    <div class="recent-posts">
      <h2>Recent Posts:</h2>
      {{ partial "post-list" .Site.RegularPages }}
    </div>
  </main>
{{ end }}