/* Global CSS variables */
:root {
    --link-color: #ff3300;
    --font-family: "Roboto", sans-serif;
    --background-color: #f6f6f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    background-color: white;
    padding: 90px 120px;
}

a {
    color: var(--link-color);
}