/* Global CSS variables */
:root {
    --font-family: "EB Garamond", "Helvetica Neue", "Segoe UI", sans-serif;
    --background-color: #f6f6f6;
    --indian-saffron-color: rgb(255, 104, 26);
    --indian-blue-color: rgb(1, 0, 142);
    --indian-green-color: rgb(0, 106, 53);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: var(--font-family);
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 400;
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 1300px;
    padding-right: 120px;
    padding-left: 120px;
    margin: 0 auto;
}

.page {
    background-color: white;
    padding-top: 0;
    padding-bottom: 90px;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0;
}

.name {
    font-family: "Poppins", sans-serif;
    display: flex;
}

.name-letter {
    font-weight: 400;
}

.indian-saffron {
    color: var(--indian-saffron-color);
}

.indian-blue {
    color: var(--indian-blue-color);
}

.indian-green {
    color: var(--indian-green-color);
}

footer {
    height: 90px;
    color: #999;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--indian-saffron-color);
}